<ion-view view-title="Area">
  <ion-content>
   
		<div class="list card">

		  <div class="item">
		    <h2>{{area.nome}}</h2>
		    <h2>{{area.descricao}}</h2>
		  </div>

		  <div class="item item-body">
		    <p>
		      <h2>Condominio</h2>
		      <ion-item>
			    <h2>{{area.condominio.name}}</h2>
			    <p>{{area.condominio.logradouro}}</p>
			    <p>{{area.condominio.numero}}</p>
			    <p>{{area.condominio.uf}}</p>
		      </ion-item>
		    </p>
		  </div>

		</div>


  </ion-content>
</ion-view>
