<ion-view view-title="Blocos">
	 <ion-nav-buttons side="right">
      	<a class="button button-icon icon ion-plus-circled" ng-click="adicionar()"></a>
    </ion-nav-buttons>
  <ion-content>

        <ion-list>

        <ion-item ng-repeat="bloco in blocos" href="#/app/blocos/{{bloco.id}}" 
                  item="item">
                <button click-for-options style="position: absolute; right: 10px; top: 0; height: 100%" class="button button-icon icon ion-ios7-telephone"></button>
          
          {{bloco.nome}}

           <span class="item-note">
            Condominio: {{bloco.condominio.name}}
          </span>

          <ion-option-button class="button-assertive"
                             ng-click="excluir(bloco.id)">
            Excluir
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="editar(bloco.id)">
            Editar
          </ion-option-button>
         
        </ion-item>

      </ion-list>
  </ion-content>
</ion-view>
