<ion-view view-title="Condominio">
  <ion-content>
   
	 <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Nome</span>
	    <input type="text" value="{{usuario.pessoa.nome}}"ng-model="usuario.pessoa.nome">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">CPF</span>
	    <input type="text" value="{{usuario.pessoa.cpf}}" ng-model="usuario.pessoa.cpf">
	  </label>

		<label class="item item-input item-select">
			<div class="input-label">
			Permissão
			</div>
			<select ng-model="usuario.roles" ng-options="permissao for permissao in permissoes">
			</select>
		</label>
	</div>

	<button ng-click="enviarEdicao()" class="button button-block button-positive">
  		Editar
	</button>

  </ion-content>
</ion-view>
