<ion-view view-title="Enquete">
     <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-circled" ng-click="adicionar()"></a>
    </ion-nav-buttons>
  <ion-content>

        <ion-list>

        <ion-item ng-repeat="enquete in enquetes" href="#/app/enquete/{{enquete.id}}" 
                  item="item">
                <button click-for-options style="position: absolute; right: 10px; top: 0; height: 100%" class="button button-icon icon ion-ios7-telephone"></button>
          {{enquete.nome}}

          <ion-option-button class="button-assertive"
                             ng-click="excluir(enquete.id)">
            Excluir
          </ion-option-button>
         
        </ion-item>

      </ion-list>
  </ion-content>
</ion-view>
