<ion-view view-title="Visitante">
  <ion-content>

    <div class="list card">

      <div class="item">
        <h2>{{visitante.nome}}</h2>
      </div>

      <div class="item item-body">
        <p>
        <h2>Apartamento</h2>
        <ion-item>
          <h2>{{visitante.apartamento.nome}}</h2>
        </ion-item>
        </p>



        <ion-item>
          <ion-label>Data visita</ion-label>
          <ion-datetime>{{ visitante.dataVisita | date : 'dd/MM/yyyy HH:mm:ss'}}
        </ion-datetime>
        </ion-item>



      </div>

    </div>


  </ion-content>
</ion-view>
