<ion-view view-title="Novo Visitante">
  <ion-content>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" value="{{visitante.nome}}" ng-model="visitante.nome">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Bloco
        </div>
        <select ng-model="visitante.bloco" ng-options="bloco.nome for bloco in blocos">
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Apartamento
        </div>
        <select ng-model="visitante.apartamento" ng-options="apartamento.nome for apartamento in apartamentos">
        </select>
      </label>
   </div>


    <button ng-click="novoVisitante()" class="button button-block button-positive">
      Adicionar
    </button>


  </ion-content>
</ion-view>
