<ion-view view-title="Encomenda">
  <ion-content>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Identificador</span>
        <input type="text" value="{{encomenda.identificador}}" ng-model="encomenda.identificador">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Morador
        </div>
        <select ng-model="encomenda.morador" ng-options="morador.pessoa.nome for morador in moradores">
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">Data Chegada</span>
        <input type="datetime-local" ng-model="encomenda.dataChegada">
      </label>

    </div>

    <button ng-click="enviarAdicao()" class="button button-block button-positive">
      Adicionar
    </button>


  </ion-content>
</ion-view>
