<ion-view view-title="Edificios">

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-circled" ng-click="adicionaEdificio()"></a>
  </ion-nav-buttons>

  <ion-content>


    <ion-list>

      <ion-item ng-repeat="edificio in edificios" href="#/app/edificio/{{edificio.id}}"
                item="item">
        <button click-for-options style="position: absolute; right: 10px; top: 0; height: 100%" class="button button-icon icon ion-ios7-telephone"></button>
        {{edificio.nome}}

        <ion-option-button class="button-assertive"
                           ng-click="excluirEdificio(edificio.id)">
          Excluir
        </ion-option-button>
        <ion-option-button class="button-calm"
                           ng-click="editarEdificio(edificio.id)">
          Editar
        </ion-option-button>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
