<ion-view view-title="Cadastro">

  <ion-content>
      <a class="item item-icon-left" href="#/app/condominios">
        <i class="icon ion-nuclear"></i>
        Condominios
      </a>
      <a class="item item-icon-left" href="#/app/blocos">
        <i class="icon ion-cube"></i>
        Blocos
      </a>
      <a class="item item-icon-left" href="#/app/edificios">
        <i class="icon ion-flag"></i>
        Edificios
      </a>
      <a class="item item-icon-left" href="#/app/areas">
        <i class="icon ion-wineglass"></i>
        Areas
      </a>
      <a class="item item-icon-left" href="#/app/apartamentos">
        <i class="icon ion-key"></i>
        Apartamentos
      </a>
      <a class="item item-icon-left" href="#/app/moradores">
        <i class="icon ion-person"></i>
        Morador
      </a>
      <a class="item item-icon-left" href="#/app/veiculos">
        <i class="icon ion-model-s"></i>
        Veiculo
      </a>
      <a class="item item-icon-left" href="#/app/murais">
        <i class="icon ion-compose"></i>
        Murais
      </a>
      <a class="item item-icon-left" href="#/app/usuarios">
        <i class="icon ion-person-stalker"></i>
        Usuarios
      </a>
      <a class="item item-icon-left" href="#/app/encomendas">
        <i class="icon ion-person-stalker"></i>
        Encomendas
      </a>
  </ion-content>
</ion-view>
