<ion-view view-title="Reservas">

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-circled" ng-click="adicionar()"></a>
  </ion-nav-buttons>

  <ion-pane>
        <ion-tabs class="tabs-top">

            <!-- Tab 1 -->
            <ion-tab title="Todas">
                <ion-nav-view name="tab-tab1">
                    <ion-content>
                        <calendar calendar-mode="mode" event-source="eventSource" time-selected="onTimeSelected(selectedTime, eventSource)" event-selected="onEventSelected(event)">
                    </ion-content>

                </ion-nav-view>
            </ion-tab>


            <!-- Tab 2 -->
            <ion-tab title="Minhas">
                <ion-nav-view name="tab-tab2">
                    <ion-content>
						<ion-list>

					      <ion-item ng-repeat="minhaReserva in minhasReservas"
					                item="item">
					        <button click-for-options style="position: absolute; right: 10px; top: 0; height: 100%" class="button button-icon icon ion-ios7-telephone"></button>
					        {{minhaReserva.area.nome}}

					         <span class="item-note" >
					            De: {{ minhaReserva.dataInicio | date : 'dd/MM/yyyy HH:mm:ss'}} até {{ minhaReserva.dataInicio | date : 'dd/MM/yyyy HH:mm:ss'}}
					          </span>

					          <span class="badge">
					            <i ng-if="minhaReserva.situacao === 'Aprovado'" class="icon ion-checkmark balanced"></i>
					            <i ng-if="minhaReserva.situacao === 'Pendente'" class="icon ion-clock energized"></i>
					            <i ng-if="minhaReserva.situacao === 'Rejeitado'" class="icon ion-close assertive"></i>
					          </span>


					        <!-- <ion-option-button class="button-assertive"
					                           ng-click="excluir(mensagem.id)">
					          Excluir
					        </ion-option-button> -->

					      </ion-item>

					    </ion-list>            
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>



 <!--  <ion-content>

    <calendar calendar-mode="mode" event-source="eventSource" time-selected="onTimeSelected(selectedTime, eventSource)" event-selected="onEventSelected(event)">

  </ion-content> -->
</ion-view>
