<ion-view view-title="Moradores">

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-circled" ng-click="adicionarMorador()"></a>
  </ion-nav-buttons>

  <ion-content>


    <ion-list>

      <ion-item ng-repeat="morador in moradores" href="#/app/morador/{{morador.id}}"
                item="item">
        <button click-for-options style="position: absolute; right: 10px; top: 0; height: 100%" class="button button-icon icon ion-ios7-telephone"></button>
        {{morador.pessoa.nome}}

        <ion-option-button class="button-assertive"
                           ng-click="excluirMorador(morador.id)">
          Excluir
        </ion-option-button>
        <ion-option-button class="button-calm"
                           ng-click="editarMorador(morador.id)">
          Editar
        </ion-option-button>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
